:root {
    --border-color: #939393;
    --color-danger: #e6e6e6;

    --border-color-primary: rgb(32, 218, 224);
    --color-primary: rgb(32, 218, 224);

    --hover-primary: rgba(27, 200, 206, 0.904);
}
.alert-enter {
    opacity: 0;
    transform: scale(0.9);
}
.alert-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.alert-exit {
    opacity: 1;
}
.alert-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
    -webkit-transition: opacity 300ms, transform 300ms;
    -moz-transition: opacity 300ms, transform 300ms;
    -ms-transition: opacity 300ms, transform 300ms;
    -o-transition: opacity 300ms, transform 300ms;
}
.mask-modal {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1001;
    padding: 1rem;
    overflow: hidden;
}
.modal {
    width: 100%;
    min-height: 400px;
    background-color: white;
    top: 50%;
    left: 50%;
    position: relative;
    border-radius: 4px;
    z-index: 1002;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.modal-header, .modal-body, .modal-footer {
    padding: 1rem 0.5rem;
}
.btn-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
@media (min-width: 768px){
    .modal {
        width: 500px;
    }
}