:root {
  --side-width: 1280px;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.body-content {
  min-height: 100vh;
}
.page-content {
  position: relative;
  display: flex;
}
.sidebar-content {
  padding-top: var(--header-height);
  min-width: 300px;
}
.articles {
  padding-top: var(--header-height);
  flex: 1;
  width: calc(100% - 300px);
}
.header-sidebar {
  display: none;
}
.primary-item {
  display: flex;
  height: 40px;
  align-items: center;
}
.primary-item > img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
.primary-item > label {
  font-size: 12pt;
  font-weight: bold;
}
.widget-article {
  display: flex;
  justify-content: space-between;
}
.widget-article > h3 {
  font-size: 13pt;
  font-weight: bold;
  letter-spacing: 1px;
}
@media(max-width: 480px){
  .sidebar-content {
    width: 100%;
    position: absolute;
    height: 100vh;
    overflow: hidden;
    z-index: 1200;
    padding-top: 0;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
  }
  .sidebar-content.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .backdrop {
    z-index: 1100;
    background-color: rgba(0, 0, 0, 0.801);
    width: 100%;
    height: 100vh;
    position: absolute;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
}
  .sidebar-content > .inner-sidebar {
    width: 280px;
    height: 100%;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  .header-sidebar {
    display: flex;
    height: 56px;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .header-sidebar > h3 {
    font-size: 16pt;
    font-weight: 600;
  }
  .header-sidebar > img {
    width: 32px;
    height: 32px;
  }
  .inner-sidebar > ul {
    padding: 10px;
    padding-left: 15px;
    overflow: auto;
  }
  .articles .widget-article {
    padding: 5px 15px;
    padding-top: 10px;
  }
  .articles .feeds {
    padding: 5px 15px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
